.landing {
	height: 100vh;
}

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 5em;
	color: #825a5a;
	margin-top: 5em;
}

.section-header {
	font-size: 3em;
	margin-top: 2em;
	margin-bottom: -0.5em;
}

h2 {
	font-family: 'Josefin Slab', serif;
	font-size: 2.72em;
	color: #94a97a;
	margin-bottom: 1em;
}

h3 {
	font-family: 'Josefin Slab', serif;
	font-size: 1.5em;
	color: #94a97a;
	margin-top: 2em;
}

p {
	font-family: 'Palatino', serif;
	font-size: 1em;
	text-align: justify;
}

b,
i {
	/*color: #94a97a;*/
}

.icon {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 1.5em auto 0 auto;
}

.right-heading {
	text-align: end;
}

.solo-recording {
	margin: 4em auto 0 auto;
	display:block;
}

ul,
li {
	list-style: none;
	padding: 0;
}

.timeline-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	/*background: linear-gradient(45deg, #209cff, #68e0cf);*/
	padding: 3rem 0;
}

.wrapper {
	background: #f3f7ed;
	padding: 0rem 4rem 1rem 2rem;
	border-radius: 15px;
}

.timeline-heading {
	font-size: 1.1rem;
	font-family: sans-serif;
}

.sessions {
	margin-top: 2rem;
	border-radius: 12px;
	position: relative;
}

li {
	padding-bottom: 1.5rem;
	border-left: 1px solid #d1dbc3;
	position: relative;
	padding-left: 20px;
	margin-left: 10px;
}
li:last-child {
	 border: 0px;
	 padding-bottom: 0;
}
li:before {
	 content: "";
	 width: 15px;
	 height: 15px;
	 background: white;
	 border: 1px solid #94a97a;
	 box-shadow: 3px 3px 0px #d1dbc3;
	 box-shadow: 3px 3px 0px #d1dbc3;
	 border-radius: 50%;
	 position: absolute;
	 left: -10px;
	 top: 0px;
}

.time {
	color: #2a2839;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.timeline-text {
	color: #4f4f4f;
	font-family: sans-serif;
	line-height: 1.5;
	margin-top: 0.4rem;
}

.video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	margin-bottom: 1em;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#ipa {
	margin-bottom: 1em;
}

#youtube-compensation {
	margin-top: 2em;
}

#translation {
	text-align: center;
}

audio {
	margin-bottom: 1em;
	width: 100%;
}

.coaching-heading {
	text-align: center;
}

/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.axis text {
	font-size: 11px;
	font-family: Palatino;
}

.line {
	fill: none;
	stroke: #000;
	stroke-width: 3px;
}

.axis-title {
	font-size: x-small;
	font-family: Palatino;
}

.title {
	font-family: Palatino;
}

.hour-tooltip {
	font-family: Palatino;
}